openapi: 3.0.3
info:
  title: XeoDocs API
  description: API for XeoDocs, an automated documentation translation system.
  version: 1.0.0
  license:
    name: MIT
servers:
  - url: https://api.xeodocs.com/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Local Development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum: [ADMIN, EDITOR, VIEWER]

    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        repoUrl:
          type: string
        sourceLanguage:
          type: string
        status:
          type: string
          enum: [INITIALIZING, READY, SYNCING, ERROR]
        createdAt:
          type: string
          format: date-time
        targets:
          type: array
          items:
            $ref: '#/components/schemas/ProjectTarget'

    ProjectTarget:
      type: object
      properties:
        languageCode:
          type: string
        publishDomain:
          type: string
        status:
          type: string
        progress:
          type: number
          format: float
          description: Percentage of files translated

    CreateProjectRequest:
      type: object
      required:
        - name
        - repoUrl
        - sourceLanguage
      properties:
        name:
          type: string
        repoUrl:
          type: string
        sourceLanguage:
          type: string
          default: "en"
        initialTargets:
          type: array
          items:
            type: object
            properties:
              languageCode:
                type: string
              publishDomain:
                type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'
    
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

security:
  - BearerAuth: []

paths:
  /auth/login:
    post:
      summary: Login
      operationId: login
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      summary: Create a new project
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get project details
      operationId: getProject
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a project
      operationId: deleteProject
      responses:
        '204':
          description: Project deleted
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{id}/sync:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Force trigger synchronization
      operationId: syncProject
      responses:
        '202':
          description: Sync job accepted
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{id}/targets:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Add a new translation target language
      operationId: addProjectTarget
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - languageCode
              properties:
                languageCode:
                  type: string
                publishDomain:
                  type: string
      responses:
        '201':
          description: Target added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTarget'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

